@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Signika:wght@300;400;500;600;700&display=swap");

body {
  font-family: "poppins", "san-serif";
}

/* navbar */
.nav-item {
  margin: 0 10px;
}

a .nav-link {
  color: black;
}

.navbar-expand-lg .navbar-nav {
  justify-content: center;
  width: 80%;
}

.cursor {
  cursor: pointer;
}

/* placeholder */
input::placeholder {
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #010c11;
  border-radius: 2px;
}
/* card */
.gallery-card {
  background-color: #1e3c72;
  position: relative;
  color: #f1f1f1;
  border: none;
}

.overlay {
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 0;
  width: 310px;
  height: 330px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.gallery-card:hover .overlay {
  opacity: 0.8;
}